.container {
    width: 80%;
    height: 80vh;
    background-color: black;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

body {
    margin: 0px;
    padding: 0px;
}

.flex-items {
    width: 100px;
    height: 100px;
    background-color: cyan;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}